# Токен Telegram-бота
TELEGRAM_TOKEN=

# Ключ шифрования Fernet (32 случайных байта в формате base64)
# Сгенерировать можно через файл исполнение generate_key.py
ENCRYPTION_KEY=

# Опционально: URL прокси-сервера
BOT_PROXY=